<ion-content>
  <!-- Segment control -->
  <ion-segment [(ngModel)]="segmentValue">
    <!-- Opciones del segmento -->
    <ion-segment-button value="experienciaLaboral">
      Experiencia Laboral
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      Certificaciones
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido de acuerdo al segmento seleccionado -->
  <ion-item-divider class="custom-divider" *ngIf="segmentValue === 'experienciaLaboral'">
    Experiencia Laboral
  </ion-item-divider>

  <!-- Inputs para experiencia laboral -->
  <ion-item>
    <ion-input placeholder="Empresa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Año inicio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="trabajaActualmente">Si actualmente trabaja aquí</ion-checkbox>
  </ion-item>
  <ion-item *ngIf="!trabajaActualmente">
    <ion-input placeholder="Año término"></ion-input>
  </ion-item>
  
  <ion-item-divider class="custom-divider" *ngIf="segmentValue === 'certificaciones'">
    Certificaciones
  </ion-item-divider>

  <!-- Inputs para certificaciones -->
  <ion-item>
    <ion-input placeholder="Nombre Certificado"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Fecha de Obtención"></ion-input>
  </ion-item>
  <ion-checkbox [(ngModel)]="certificadoVencimiento">El certificado vence</ion-checkbox>
  <ion-item *ngIf="certificadoVencimiento">
    <ion-input placeholder="Fecha de Vencimiento"></ion-input>
  </ion-item>
</ion-content>
